<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CareBot</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/index.css">
  </head>
  <body>
    <!-- header design -->
    <header class="header">
      <a href="#" class="logo">CABOOK</a>

      <i class="bx bx-menu" id="menu-icon"></i>

      <nav class="navbar">
        <a href="#home" class="active" >Home</a>
        <a href="#about">About</a>
        <a href="#services">Team</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>
    
    <!-- comment -->
    <section class="home" id="home">
      <canvas id="canvas"></canvas>
      <div class="home-content">
        
        <h1>CABOOK</h1>
        <h3>Book your comfortable ride</h3>
        <p>
            Say goodbye to the hassles of traditional taxi services and embrace a seamless booking experience 
            tailored to your needs. With our platform, users can effortlessly book rides, track their
             journeys in real-time, and receive accurate fare estimates, all at their fingertips
             . Our advanced algorithms ensure optimal route planning, minimizing travel time 
             and costs. Plus, with automated email notifications, users stay informed every step 
             of the way, receiving instant confirmation of their bookings
        </p>
        <!-- <a href="#" class="btn">Connect Wallet</a> -->
        
      </div>

      <section id="contact" class="contact">
        <div class="contact-box">
          <div class="contact-links">
            <h2>CONTACT</h2>
            <div class="links">
              <div class="link">
                <a><img src="https://i.postimg.cc/m2mg2Hjm/linkedin.png" alt="linkedin"></a>
              </div>
              <div class="link">
                <a><img src="https://i.postimg.cc/YCV2QBJg/github.png" alt="github"></a>
              </div>
              <div class="link">
                <a><img src="https://i.postimg.cc/W4Znvrry/codepen.png" alt="codepen"></a>
              </div>
              <div class="link">
                <a><img src="https://i.postimg.cc/NjLfyjPB/email.png" alt="email"></a>
              </div>
            </div>
          </div>
          <div class="contact-form-wrapper">
            <form>
              <div class="form-item">
                <input type="text" name="sender" required>
                <label>Name:</label>
              </div>
              <div class="form-item">
                <input type="text" name="email" required>
                <label>Email:</label>
              </div>
              <div class="form-item">
                <textarea class="" name="message" required></textarea>
                <label>Message:</label>
              </div>
              <button class="submit-btn">Send</button>  
            </form>
          </div>
        </div>
      </section>
  
      

    </section>
    
    <!-- comment -->
    <!-- <hr style="color: black;"> -->
    <hr />
    <section id="about">
      <canvas id="canvas"></canvas>
      <div id="main-content">
        
        <!-- <div id="header-1">Reliable, efficient delivery</div> -->
        <div id="header-2">Why Cabook?</div>
        <div id="body">
            Cabook provides a hassle-free travel experience. Safety is paramount,
             with stringent measures in place to guarantee passenger well-being. 
             Available across various locations, Cabook is accessible to travelers 
             everywhere, providing trusted and reliable cab services. Join us in 
             embracing the future of transportation with Cabook - your ultimate 
             destination for convenient and reliable cab booking.
        </div>
        <div id="card-body">
          <div id="first-item">
            <a href="/symp">
            <div class="card" id="card-1">
              <div class="card-title">low budget</div>
              <div class="card-body">
                Loren ipsum gypsumLorem ipsum dolor sit amet, 
                consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.
              </div>
              <div id="card-cont">
                <img
                  class="card-img"
                  src="https://res.cloudinary.com/hardik-khandelwal/image/upload/v1585732999/icon-supervisor.svg"
                />
              </div>
            </div>
          </a>
          </div>
          <div id="second-item">
            <div class="card" id="card-2">
              <div class="card-title">Email Reassurance</div>
              <div class="card-body">
                Loren ipsum gypsumLorem ipsum dolor sit amet, 
                consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.
              </div>
              <div id="card-cont">
                <img
                  class="card-img"
                  src="https://res.cloudinary.com/hardik-khandelwal/image/upload/v1585732999/icon-team-builder.svg"
                />
              </div>
            </div>
            <div class="card" id="card-3">
              <div class="card-title">Accuracy</div>
              <div class="card-body">
                Loren ipsum gypsumLorem ipsum dolor sit amet, 
                consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.
              </div>
              <div id="card-cont">
                <img
                  class="card-img"
                  src="https://res.cloudinary.com/hardik-khandelwal/image/upload/v1585732999/icon-karma.svg"
                />
              </div>
            </div>
          </div>
          <div id="third-item">
            <div class="card" id="card-4">
              <div class="card-title">User-Friendly Interface</div>
              <div class="card-body">
                Loren ipsum gypsumLorem ipsum dolor sit amet, 
                consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.
              </div>
              <div id="card-cont">
                <img
                  class="card-img"
                  src="https://res.cloudinary.com/hardik-khandelwal/image/upload/v1585732999/icon-calculator.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   
  
     <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; 2023 Team CAREBOT | All Rights Reserved.</p>
      </div>

      <div class="footer-iconTop">
        <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
      </div>
    </footer>

  </body>
  
  <script src="fontend2/static/script.js"></script>
</html>